<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientLib.css @ categories='newAssignment.site'}" />

<sly data-sly-use.model="com.newAssignment.core.models.FooterModel" />

<div class="footer-container">
    <!-- Left Block -->
    <div class="footer-left-block">
        <div class="logo-section">
            <img src="${model.fileReference}" alt="Vonage Logo" class="logo-image" />
        </div>
        <div class="footer-description-block">
            <p class="footer-description">
                ${model.description @ context='html'}
            </p>
        </div>
    </div>

    <!-- Right Block -->
    <div class="footer-right-block">
        <h2>${model.title @ context='html'}</h2>
        <ul class="quick-links">
            <sly data-sly-list.item="${model.actions}">
                <li>
                    <!-- Add target="_blank" if openInNewTab is true -->
                    <a href="${item.linkTarget}" 
                       data-sly-attribute.target="${item.openInNewTab ? '_blank' : ''}" 
                       data-sly-attribute.rel="${item.openInNewTab ? 'noopener noreferrer' : ''}">
                        ${item.descriptionButton}
                    </a>
                </li>
            </sly>
        </ul>
    </div>
</div>


